fastapi
uvicorn[standard]

langgraph
langchain
langchain-core
langchain-community

openai
google-generativeai
langchain-google-genai

groq
langchain-groq

pydantic
pydantic-settings

python-dotenv

faiss-cpu
sentence-transformers

numpy
pandas

httpx
aiofiles

python-multipart

tiktoken

loguru

networkx

pytest